MONGODB_URI=mongodb+srv://USER:PASS@cluster.xxx.mongodb.net/barberia_pabellon?retryWrites=true&w=majority
DB_NAME=barberia_pabellon
ADMIN_PASSWORD=cambiame
JWT_SECRET=string-aleatorio-largo-de-al-menos-32-caracteres
